[Unit]
Description=Start Minecraft
After=network.target

[Service]
Type=simple
ExecStart=/home/minecraft/ServerStart.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
